<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Students</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Students</h1>
      <form action="/add" id="indexform" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input
          type="number"
          id="ages"
          min="0"
          max="100"
          step="1"
          name="age"
          placeholder="Age"
          required
        />
        <input type="text" name="grade" placeholder="Grade" required />
        <button type="submit" class="btn btn-primary">Add Student</button>
      </form>

      <script>
        document.getElementById("indexform").onsubmit = function (event) {
          var ageInput = document.getElementById("ages");
          if (ageInput.value < 0) {
            alert("Age cannot be negative!");
            event.preventDefault(); // Mencegah pengiriman form
          }
        };
      </script>

      <table class="table mt-3">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <td>{{ student.name|safe }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.grade }}</td>
            <td>
              <a href="/edit/{{ student.id }}" class="btn btn-warning">Edit</a>
              <a href="/delete/{{ student.id }}" class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
