<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Students</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-5">
		<h1>Students</h1>
		<button id="admindialog" class="btn btn-outline-primary mb-3">Enter Admin Mode</button>
		<button id="logoutBtn" onclick="logout()" class="btn btn-outline-primary mb-3">Exit Admin Mode</button>

		<form id="addStudentForm" action="/add" method="POST">
			<input type="text" name="name" placeholder="Name" required pattern="[A-Za-z\s]+" maxlength="100"
				title="Only alphabets and spaces are allowed.">
			<input type="number" name="age" placeholder="Age" required>
			<input type="text" name="grade" placeholder="Grade (A-F)" required pattern="[A-F]" maxlength="2"
				title="Grade must be A, B, C, D or F">
			<button type="submit" class="btn btn-primary">Add Student</button>
		</form>
		<table id="loggedTable" class="table mt-3">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Grade</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td>{{ student.name|safe }}</td>
					<td>{{ student.age }}</td>
					<td>{{ student.grade }}</td>
					<td>
						<a id="editButton" href="/edit/{{ student.id }}" class="btn btn-warning">Edit</a>
						<a id="deleteButton" href="/delete/{{ student.id }}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<table id="notLoggedTable" class="table mt-3">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Grade</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td>{{ student.name|safe }}</td>
					<td>{{ student.age }}</td>
					<td>{{ student.grade }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>


<!-- A modal dialog containing a form -->
<dialog id="favDialog">
	<form>
		<p>
			<label for="passwordInput">Masukan Password</label><br>
			<input id="passwordInput" name="passwordInput" type="password">
		</p>
		<div>
			<button class="btn btn-secondary" value="cancel" formmethod="dialog">Cancel</button>
			<button class="btn btn-primary" id="confirmBtn" value="default">Confirm</button>
		</div>
	</form>
</dialog>
<output></output>

<script>
	function getCookie(cname) {
		let name = cname + "=";
		let decodedCookie = decodeURIComponent(document.cookie);
		let ca = decodedCookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}

	function checkAuth() {
		const addForm = document.getElementById("addStudentForm");
		const deleteButton = document.getElementById("deleteButton");
		const editButton = document.getElementById("editButton");

		const loginBtn = document.getElementById("admindialog");
		const logoutBtn = document.getElementById("logoutBtn");

		const isLogged = getCookie("IS_LOGGED");

		const loggedTable = document.getElementById("loggedTable");
		const notLoggedTable = document.getElementById("notLoggedTable");

		if (isLogged === "true") {
			addForm.style.display = "block";

			loggedTable.style.display = "block";
			notLoggedTable.style.display = "none";

			logoutBtn.style.display = "inline";
			loginBtn.style.display = "none";
		} else {
			addForm.style.display = "none";

			notLoggedTable.style.display = "block";
			loggedTable.style.display = "none";

			logoutBtn.style.display = "none";
			loginBtn.style.display = "inline";
		}
	}

	function hash(string) {
		const utf8 = new TextEncoder().encode(string);
		return crypto.subtle.digest('SHA-256', utf8).then((hashBuffer) => {
			const hashArray = Array.from(new Uint8Array(hashBuffer));
			const hashHex = hashArray
				.map((bytes) => bytes.toString(16).padStart(2, '0'))
				.join('');
			return hashHex;
		});
	}

	const showButton = document.getElementById("admindialog");
	const favDialog = document.getElementById("favDialog");
	const passwordInput = document.getElementById("passwordInput");
	const outputBox = document.querySelector("output");
	const confirmBtn = favDialog.querySelector("#confirmBtn");

	// "Show the dialog" button opens the <dialog> modally
	showButton.addEventListener("click", () => {
		passwordInput.value = "";
		favDialog.showModal();
	});

	// "Cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
	favDialog.addEventListener("close", (e) => {
	});

	function logout() {
		document.cookie = "IS_LOGGED=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		checkAuth();
	}

	function setCookie(cname, cvalue, exdays) {
		const d = new Date();
		d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
		let expires = "expires=" + d.toUTCString();
		document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	confirmBtn.addEventListener("click", async (event) => {
		event.preventDefault(); // We don't want to submit this fake form
		if (passwordInput.value.length < 1) {
			alert("Please enter a password");
			return;
		}

		let hashPassword = await hash(passwordInput.value)

		if (getCookie("PIN_AUTH") == hashPassword) {
			setCookie("IS_LOGGED", true)
			favDialog.close("1"); // Have to send the select box value here.
		} else {
			alert("Wrong Password!");
		}

		checkAuth();
	});

	checkAuth();
</script>

</html>
